---
const { turn, country, name, song, id } = Astro.props;
const linkurl = "/participant/" + id;
---

<a
  href={linkurl}
  class="flex flex-1 mb-5 border rounded-xl p-4 shadow gap-5 items-center bg-slate-300 bg-opacity-60 font-medium text-slate-900 backdrop-blur-sm">
  <div class="font-bold text-3xl w-12 text-center">{turn}</div>
  <div>
    <div class="font-bold mb-2">{country}</div>
    <div class="">{name}</div>
    <div class="text-sm">{song}</div>
  </div>
</a>
